.sel {
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-border-color: #76b2f733;
    -fx-border-width: 0.3mm;
    -fx-background-color: #76b2f7bb;
    -fx-text-fill: #000000;
}

.unsel {
    -fx-font-size: 11;
    -fx-border-color: #76b2f733;
    -fx-border-width: 0.3mm;
    -fx-background-color: #000000;
    -fx-text-fill: #76b2f7aa;
}