
.tab-content-area {
    -fx-background-color: #000000;
}

.label {
    -fx-text-fill: #76b2f7;
}

.radio-button {
    -fx-text-fill: #76b2f7;
}

.check-box {
    -fx-text-fill: #76b2f7;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #333333, #111111);
    -fx-text-fill: #76b2f7;
    -fx-border-color: #76b2f7;
    -fx-border-insets: 0.2mm 0.2mm 0.2mm 0.2mm;
    -fx-border-radius: 1.2mm 1.2mm 1.2mm 1.2mm;
}

.tab {
    -fx-background-color: linear-gradient(to bottom, #333333, #111111);
    -fx-border-color: #76b2f7 #76b2f7 #000000 #76b2f7;
    -fx-border-insets: 0.0mm 0.2mm 0mm 0.2mm;
    -fx-border-radius: 1.2mm 1.2mm 0mm 0mm;
    -fx-padding: 0mm 1.2mm 0mm 1.2mm;
}

.tab-label {
    -fx-text-fill: #76b2f7;
    -fx-padding: 0mm 1.2mm 0mm 1.2mm;
}

.tab-label-alt {
    -fx-border-color: #ff0000;
    -fx-border-insets: 0.0mm 0.2mm 0mm 0.2mm;
}

.tab-header-background {
    -fx-background-color: #000000;
}

.dialog-pane {
    -fx-border-color: #293e56;
}

.button-bar > .container{
    -fx-background-color: #000000;
}

.choice-box {
    -fx-background-color: #000000;
    -fx-border-color: #293e56;
}

.choice-box > .label {
    -fx-background-color: #000000;
    -fx-mark-color: #76b2f7;
}

.choice-box .context-menu { -fx-background-color: black; }
.choice-box .menu-item:focused { -fx-background-color: #293e56; }
.choice-box .menu-item > .label { -fx-text-fill: #76b2f7; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.scroll-bar {
    -fx-background-color: black;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color : #76b2f7;
    -fx-background-radius : 0.2em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.2em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color : #293e56;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #76b2f7;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}